.notification {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  }

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.clickableText {
  background:none;
  border:none;
  cursor: pointer;
  font-weight: bold;
  padding-left: 0;
}

.link {
  font-family: Verdana, Helvetica, sans-serif;
  text-decoration: none;
  color:black
}

body {
  height:100vh;
}

th {
  width: 100px;
  padding: 10px;
  text-align: left;
  font-weight: normal;
}

div {
  font-family: Verdana, Helvetica, sans-serif;
}

button {
  font-family: Verdana, Helvetica, sans-serif;
  background-color: peru;
  border: 1px solid black;
  border-radius: 6px;
  color: white;
  padding: 5px 10px;
  margin: 5px 5px;
  margin-left: 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

table {
  width: 50%;
}

#root {
  height:100%;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type=text]:focus {
  border: 3px solid #555;
}

input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type=password]:focus {
  border: 3px solid #555;
}